In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('sao-paulo-properties-april-2019.csv')
df.sort_values(by='Price')

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
508,480,295,48,2,2,1,1,0,0,0,0,São Rafael/São Paulo,rent,apartment,-23.626154,-46.470810
4427,500,0,30,1,1,0,0,0,0,0,0,Freguesia do Ó/São Paulo,rent,apartment,-23.495553,-46.713416
288,500,0,40,1,2,1,1,0,0,0,0,Jardim Helena/São Paulo,rent,apartment,-23.491297,-46.393691
122,500,0,50,1,2,1,1,0,0,0,0,Cidade Líder/São Paulo,rent,apartment,-23.559095,-46.488160
4486,500,380,66,2,1,0,1,0,0,0,0,Jaraguá/São Paulo,rent,apartment,-23.456981,-46.730490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7152,8000000,0,269,4,5,4,4,1,0,1,0,Itaim Bibi/São Paulo,sale,apartment,-23.588294,-46.680764
5008,8039200,0,278,4,7,4,4,1,1,1,0,Vila Olimpia/São Paulo,sale,apartment,-23.596469,-46.680587
7249,8500000,7200,420,4,6,4,4,1,0,1,0,Jardim Paulista/São Paulo,sale,apartment,-23.564044,-46.660862
6287,9979947,0,343,4,6,4,5,1,0,1,0,Iguatemi/São Paulo,sale,apartment,-23.585487,-46.681676
6282,10000000,0,343,4,7,4,5,0,0,0,0,Iguatemi/São Paulo,sale,apartment,-23.585487,-46.681676

In [18]:
maior = df['Negotiation Type'] == 'rent'
df = df.loc[maior,:]
df

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11205,3700,595,73,1,2,1,1,0,0,1,0,Brooklin/São Paulo,rent,apartment,-23.617682,-46.694963
11206,21000,3000,208,4,4,3,3,1,1,1,0,Brooklin/São Paulo,rent,apartment,-23.606891,-46.695934
11207,3800,710,55,1,1,0,1,0,1,1,0,Brooklin/São Paulo,rent,apartment,0.000000,0.000000
11208,5000,2354,205,3,2,1,2,1,0,0,0,Brooklin/São Paulo,rent,apartment,-23.612287,-46.681482
11209,15600,2300,162,3,4,3,3,0,0,1,0,Brooklin/São Paulo,rent,apartment,-23.615823,-46.685404

In [21]:
df.to_csv('SP_rent_prices.csv')